<div id="search_redo">
  <%= form_tag search_index_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag I18n.t("general.search"), :name => nil %>
  <% end %>
</div>

<!-- categories !-->
<% if current_user %>
  <% if !@found_categories.empty? %>
    <h2><%=t "categories.categories" %></h2>
    <% @found_categories.each do |c| %>
      <%= link_to c.name, category_path(c.id), :class => "category" %>
    <% end %>
  <% end %>
<% end %>

<!-- tags !-->
<% if !@found_tags.empty? %>
  <h2><%=t "tags.tags" %></h2>
  <% @found_tags.each do |t| %>
    <%= link_to t.name, tag_path(t.id), :class => "term" %>
  <% end %>
<% end %>

<!-- terms --!>
<% if !@found_terms.empty? %>
  <h2><%=t "terms.terms" %></h2>
  <% @found_terms.each do |t| %>
    <%= link_to term_path(t), :class => "term #{t.type.downcase[4, t.type.length]}" do %>
      <% tags = Array.new
      t.tags.each do |tag|
        tags << tag.name
      end %>
      <%= t.name %>
      <span class="term_tags"><%= tags.join(', ') %></span>
      <span class="term_date"><%= l t.updated_at, :format => (t.updated_at.time() <= 1.year.ago ? "%d %B %y" : ( t.updated_at.today?() ? "%H:%M" : "%d %B")) %></span>
    <% end %>
  <% end %>
<% end %>

<!-- users !-->
<% if !@found_users.empty? %>
  <h2><%=t "users.users" %></h2>
  <% @found_users.each do |u| %>
    <%= link_to u.login, user_path(u), :class => "category" %>
  <% end %>
<% end %>

<% if (!current_user or @found_categories.empty?) and @found_tags.empty? and @found_terms.empty? %>
  <p><%=t "general.search_nothing" %></p>
<% end %>
