<%= form_for @term, :url => term_path do |f| %>

  <% if @term.errors.any? %>
    <div class="error_messages">
      <p><%=t "general.errors" %> :</p>
      <ul>
        <% for message in @term.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>

    <tr>
      <td><%= f.label I18n.t("model.terms.name") %></td>
      <td><%= f.text_field :name %></td>
    </tr>

    <%= render "form_#{@term.type.downcase[4, @term.type.length]}", :f => f, :term => @term %>

    <tr>
      <td><%= f.label :tag_list, I18n.t("tags.tags") %></td>
      <td><%= f.autocomplete_field :tag_list, autocomplete_tag_name_terms_path, :"data-delimiter" => ', ' %></td>
    </tr>

  </table>

  <p class="button"><%= f.submit I18n.t("terms.edit") %></p>

<% end %>
