<% @terms.each do |term| %>
  <%= link_to term_path(term), :class => "term notepad" do %>
    <% tags = Array.new
    term.tags.each do |tag|
      tags << tag.name
    end %>
    <%= term.name %><span class="term_tags"><%= tags.join(', ') %></span>
  <% end %>
<% end %>

<p class="actions">
  <%= I18n.t("terms.create").downcase %> :
  <%= link_to I18n.t("terms.notepad").downcase, terms_path(:category_id => @category != nil ? @category.id : nil, :type => "notepad"), :method => :post, :class => "new" %>
</p>
