<% @terms.each do |term| %>
  <%= link_to edit_term_path(term), :class => "term notepad" do %>
    <%= term.name %><span class="term_abstract"><%= strip_tags term.abstract %></span>
  <% end %>
<% end %>

<p class="actions">
  <%= I18n.t("terms.create").downcase %> :
  <%= link_to I18n.t("terms.notepad").downcase, terms_path(:category_id => @category != nil ? @category.id : nil, :type => "notepad"), :method => :post, :class => "new" %>
</p>
