<% @terms.each do |term| %>
  <%= link_to term_path(term), :class => "term #{term.type.downcase[4, term.type.length]}" do %>
    <% tags = Array.new
    term.tags.each do |tag|
      tags << tag.name
    end %>
    <%= term.name %>
    <span class="term_tags"><%= tags.join(', ') %></span>
    <span class="term_date"><%= l term.updated_at, :format => (term.updated_at.time() <= 1.year.ago ? "%d %B %y" : ( term.updated_at.today?() ? "%H:%M" : "%d %B")) %></span>
  <% end %>
<% end %>

<%= render "terms/list_new", :category => @category %>
