<div id="header">

  <div id="header_logo">abe</div>

  <div id="header_content">
    <% if current_user %>
      <%= link_to I18n.t("general.explore"), explore_path %>
    <% else %>
      <%= link_to I18n.t("general.welcome"), welcome_path %>
    <% end %>
    . <%= link_to I18n.t("tags.trends"), tags_path %>
  </div>

  <div id="header_search">
    <%= form_tag search_index_path, :method => 'get' do %>
      <%= text_field_tag :search %>
      <%= submit_tag I18n.t("general.search"), :name => nil %>
    <% end %>
  </div>
</div>
