<h1><%=t "welcome.lost_password" %></h1>

<%= form_for @user, :url => lost_password_use_valid_path do |f| %>

  <table>
    <tr>
      <td><%= f.label I18n.t("model.users.password") %></td>
      <td><%= f.password_field :password %></td>
    </tr>

    <tr>
      <td><%= f.label I18n.t("model.users.check_password") %></td>
      <td><%= f.password_field :password_check %></td>
    </tr>
  </table>

  <p class="button"><%= f.submit I18n.t("users.edit") %></p>

<% end %>
