<h1><%=t "welcome.lost_password" %></h1>
<%= form_tag(lost_password_send_path) do %>
  <p><%=t "welcome.lost_password_help" %></p>
  <% if @error %>
    <p><%= @error %></p>
  <% end %>
  <table>
    <tr>
      <td><%= label_tag :login, I18n.t("model.users.login") %></td>
      <td><%= text_field_tag :login %></td>
    </tr>
    <tr>
      <td>
      <td><%= I18n.t("general.or").downcase %></td>
    </tr>
    <tr>
      <td><%= label_tag :email, I18n.t("model.users.password") %></td>
      <td><%= text_field_tag :email %></td>
    </tr>
    </tr>
  </table>
  <p class="button"><%= submit_tag I18n.t("welcome.lost_password_send") %></p>
<% end %>
