<% @parents.each do |parent| %>
  > <%= link_to parent['name'], list_category_path(parent['id']) %>
<% end %>

<% unless @parent_id.nil? %>
<%= link_to '.:edit', edit_category_path(params[:id]) %>
<% end %>

<table>
  <tr>
    <td><%= link_to '.:add', add_category_path(params[:id]) %></td>
  </tr>
  
  <% @categories.each do |category| %>
  <tr>
    <td class="category"><%= link_to category.name, list_category_path(category) %></td>
    <td class="category"><%= link_to '.:del', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>

  <% @terms.each do |term| %>
  <tr>
    <td class="term_name"><%= term.name %> <%= link_to '.:edit', edit_term_path(term.id) %></td>
    <td class="term_content"><%= raw term.content %></td>
  </tr>
  <% end %>
</table>

<br />

<% unless @parent_id.nil? %>
  <%= link_to '.:new', add_term_path %>
<% end %>
