<div id="category_actions" class="actions">
  <% if params.has_key?(:id) %>
    <%= link_to I18n.t("categories.edit").downcase, edit_category_path(@category.id), :class => "edit" %>
    <%= link_to I18n.t("categories.delete").downcase, category_path(@category.id), :method => :delete, :class => "delete", :confirm => I18n.t("categories.delete_confirm") %>
  <% end %>
</div>

<!-- parent link !-->
<% if params.has_key?(:id) %>
  <% if @category.parent_id == nil %>
    <%= link_to "..", categories_path, :class => "category" %>
  <% else %>
    <%= link_to "..", category_path(@category.parent_id), :class => "category" %>
  <% end %>
<% end %>

<!-- children categories !-->
<% if @children_categories.count != 0 %>
  <% @children_categories.each do |c| %>
    <%= link_to c.name, category_path(c.id), :class => "category" %>
  <% end %>
<% end %>

<!-- render terms !-->
<%= render "terms/list", :category => @category, :terms => @terms %>

<!-- new category link !-->
<%= form_for(@child) do |f| %>
  <p class="actions">
    <%= f.label :name, I18n.t("categories.category").downcase %>
    <%= f.text_field :name %>
    <%= f.hidden_field :parent_id %>
    <%= f.submit I18n.t("categories.create").downcase %>
  </p>
<% end %>
