<!DOCTYPE html>
<html>
<head>
  <title>Abe <%= ' - ' + @title if @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="http://fonts.googleapis.com/css?family=Della+Respira" rel="stylesheet" type="text/css" />
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "shared/header" %>

  <%= render "shared/left_bar", :locals => { :categories => @categories } %>

  <div id="content">

    <% if @breadcrumb %>
      <p id="breadcrumb">
      <% if @breadcrumb.kind_of?(Array) %>
        <% links = Array.new
        @breadcrumb.each do |e|
          if e.kind_of?(Category)
            links << (link_to e.name, category_path(e.id))
          elsif e.kind_of?(User)
            links << (link_to e.login, user_path(e.id))
          else
            links << (link_to e, categories_path)
          end
        end %>
        <%= links.join(' > ').html_safe %>
      <% else %>
        <%= @breadcrumb %>
      <% end %>
      </p>
    <% end %>

    <% if @title %>
      <h1><%= @title %></h1>
    <% end %>

    <%= yield %>

    <%= render "shared/footer" %>

  </div>

</body>
</html>
